.git
.config
.npm
.upm
.replit 
.lesson
.auth
.auth_baileys
.mywajs_auth
.other_mywajs
.pnpm-lock.yaml
.sessions
sessions
stores
src/auth
src/data.json 
src/store.json
src/data/sessions
src/data/stores
node_modules 
database.json
data.base.json
data.store.json
db.json
.db.json
data.json
store.json
.store.json
package-lock.json
yarn.lock
bun.lockb